.header{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: rgb(73, 71, 71) 2px 2px 7px;
}

.whole_set{
    background-color:rgba(123, 123, 123, 0.09);
    width : 20%;
    margin : auto;
    text-align: center;
}

