body{
    background-image:url("images/dark_reading.jpg");
    margin: 0px;
}

.page_header{
    color:rgb(33, 33, 33);
    text-align: center;
    /* border: 2px solid rgb(192, 186, 186); */
    text-shadow: 2px 2px rgb(156, 153, 153);
    background-color: rgb(223, 224, 209);
    width:50%;
    margin:auto;
    margin-top:10px;
}

ul{
    /* list-style-type: none; */
    border: 2px solid black;
    list-style-type:none;
    float:left;
    overflow: hidden;
    width:98%;
    background-color: rgb(198, 198, 187);
    
    

    
    
}

a{
    text-decoration: none;
    margin:10px;
    display: block;
    color:rgb(0, 0, 0);
}

li{
    margin:0px;
    float:left;
    display: block;
}

li:hover{
    background-color:rgb(162, 174, 178);
}

/* ############################################################### */

.basics{
    color:rgb(195, 195, 195);
    border:2px solid white;
}

.profile_photo{
    color:white;
    float:left;
    width:400px;
    border: 5px solid rgb(12, 12, 12);
    border-radius: 10px;
    margin : 10px 40px 12px 40px ;
}