body{
    margin: 0px;
    padding:0px;
    background-color:  rgb(213, 245, 245);

}
/* nav bar--------------------------------------------------------------- */
.nav_bar a{
    text-decoration: none;
    color:white;
    
    
}

.nav_bar li{
    list-style-type: none;
    display: inline-block;
    padding:10px;

    
    
}

.nav_bar li:hover{
    background-color: rgba(0, 0, 0, 0.554);
    transition-duration: 0.3s;
}

.right{
    float:right;
}
.nav_bar ul{
    margin:0px;
    background-color: rgba(23, 23, 23, 0.796);
    

}
/* ---------------------upto here nav bar----------------------------------------------- */

.header{
    border:2px solid black;
    text-align: center;
    text-shadow: hsl(174, 37%, 79%) 4px 4px 20px;
    background-color: rgb(221, 221, 109);
    font-family:Arial, Helvetica, sans-serif;
    color:black;

    
}

.body{
    border:none;
    width:75%;
    height: auto;
    
    float:left;
    margin: 1%;
    padding:12px;
    box-shadow: rgb(226, 242, 244) 2px 2px 44px;
    background-color:  rgba(240, 255, 255, 0.515);
    box-sizing: border-box;

}
.float_right{
    float:right;
    border:none;
    width:11%;
    height:28rem;
    margin: 1%;
    margin-top: 5%;
    padding:15px;
    overflow: scroll;
    background-color:rgba(23, 23, 23, 0.796);
    box-sizing: border-box;
    
    color:white;
}
.footer{
    border:2px solid black;
    margin: 1%;
    float:inline-end
}