#counter{
    display: block;
    text-align: center;
    font-size: 5em;
    text-shadow: black 40px 8px 15px;
}

.but{
    display:block;
    text-align: center;
    padding:3px 6px 3px 6px;
    
     

}

.button{
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgba(27, 27, 27, 0.789);
    border-radius: 7px;
    
}

.button:hover {
    background-color: black;
}
