body{
    margin:0px;
}
/* ****************************************************************************+body structure******************************************************* */
.header{
    background-color: #F4D644;
    display: block;
    width:70%;
    height:15vh;
    box-sizing: border-box;
    text-align: center;
    float: right;
    margin-top: 4%;
    overflow:hidden;
}

.header h1,h3{
    padding-top:5px;
    padding-bottom: 0px;
    margin: 0;
    border: none;
    text-align: left;
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.header h1{
    font-size: 3em;

}

.header h5{
    padding-top: 0;
    text-align: left;
    padding-left:80px;
}




.left_menu{
    background-color: #2A2E36;
    color:white;
    width:30%;
    height:100vh;
    box-sizing: border-box;
    padding-top: 2%;
    float:left;
    
    }

.photo_box{
    overflow:hidden;
}

.photo_box img{
    box-sizing:border-box;
    margin: 0;
    max-width: 82%;
    border: 8px solid white;
    margin-left: 15%;
}




.right_body{
    width: 70%;
    box-sizing: border-box;
    background-color: rgb(236, 251, 251);
    float:right;
    margin-top: 1%;
    display: inline;
}

/* **********************-----------------------************************************************************************************************************************** */
.links{
    border:none;
}

.linkedin:hover{
    background-color: black;
    transition-duration: 0.4s;
}



ul{
    margin:0;
    padding: 0;
}


li{
    list-style: none;
    border:none;
    margin:2%;
    margin-left: 13%;
    }
li img{
    margin-right:3%;
}    

a{
    text-decoration: none;
    color:white;
    display: block;
    padding:10px;
}

#hovering:hover{
    
    padding: 5%;
    padding-left: 12%;
    margin: 0;
    background-color:#F4D644;
    transition-duration: 0.4s;
    a{color:black;};
    
}




