body{
    margin:0px;
    background-color:rgb(210, 210, 210);
}
/* ****************************************************************************+body structure******************************************************* */
.header{
    background-color: hwb(50 26% 4%);
    display: block;
    width:70%;
    height:17%;
    box-sizing: border-box;
    text-align: center;
    float: right;
    margin-top: 0;
    overflow:auto;
    position:relative;
   /*  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right:5px solid white; */
    
    /* border-bottom: 5px solid rgba(68, 68, 68, 0.303); */
    /* box-shadow: 0px 5px 15px rgb(210, 210, 210); */
}

.header h1,h3{
    padding-top:5px;
    padding-bottom: 0px;
    margin: 0;
    border: none;
    text-align: left;
    padding-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2A2E36;
    
    
}
.header h1{
    font-size: 300%;

}

.header h5{
    padding-top: 0;
    text-align: left;
    padding-left:80px;
    color:#2A2E36;
}




.left_menu{
    background-color: #2A2E36;
    color:white;
    width:30%;
    height:100vh;
    box-sizing: border-box;
    padding-top: 2%;
    float:left;
    border-right:5px solid rgb(210, 210, 210);
    position: fixed;
    }

.photo_box{
    overflow:hidden;
}

.photo_box img{
    box-sizing:border-box;
    margin: 0;
    max-width: 70%;
    border: 5px solid white;
    border-radius: 250px;
    margin-left: 15%;
    
}




.right_body{
    width: 70%;
    height:82vh;
    box-sizing: border-box;
    background-color: rgba(227, 229, 232, 0.72);
    float:right;
    margin-top: 0.4%;
    display: block;
    padding: 2% 4%;
    

    /* box-shadow: 0px 5px 15px rgb(99, 99, 99); */
    
}

/* **********************-----------------------************************************************************************************************************************** */









.links{
    border:none;
    box-sizing: border-box;
}

.linkedin:hover{
    background-color: black;
    transition-duration: 0.4s;
}



ul{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}


li{
    list-style: none;
    border:none;
    margin:2%;
    margin-left: 13%;
    box-sizing: border-box;
    
    }
li img{
    margin-right:3%;
}    

.linkedin img{
    float:left;
    

}


a{
    text-decoration: none;
    color:white;
    display: block;
    padding:10px;
}

#hovering:hover{  /* This code is for the links in the left menu */
    
    padding: 5%;
    padding-left: 12%;
    margin: 0;
    background-color:#F4D644;
    transition-duration: 0.4s;
    a{color:black;};
    
}




